<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/helmet_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/helmet_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelmetRental"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".OtpVerificationActivity" />
        <activity android:name=".DepositActivity" />
        <activity android:name=".LocationSelectionActivity" />
        <activity android:name=".LicenseVerificationActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".Debug.ApiTestActivity" />

    </application>

</manifest>
